@media only screen and (max-width: 25rem)  {

    body{
        width:100%;
        height: 100%;
    }
	
	h1,label, #submit-button{
		z-index: 0;
		font-size: 1rem;
		font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
		width: 245px;
		
	}

    h1{
        font-size: 2rem;
        width: 100%;
        margin-top: 30px;
        margin-left: 10px;
        font-weight:normal;
    }

    #contact-form{
        width: 355px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -40px;
    }

    .box{
        margin-top: 20px;
    }

    #fname, #email{
        width: 315px;
        height:30px;
        border-radius: 4px;
        border-width: 2px;
		border-color: #DDD;
    }
	
    #message{
        width: 315px;
        height:80px;
    }

	#submit-button{
		background-color: #6495ed;
		width: 320px;
		height: 40px;
		color: white;
		margin-top: 30px;
        margin-right: 10px;
		border: none;
		border-radius: 4px;
        font-weight: bold;
	}
	
	
	#middle_box{
		margin-top:70px;
		margin-left: 10px;
        margin-right: 10px;

        width: 345px;

		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
        height: 90vh;
        
        border-radius: 4px;
		background-color: #F5F5F5;
		z-index:-1;
	}
	#small_box{
        position: relative;
		top:-50px;
		left: 20px;
		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
		width: 270px;
		height:100px;
		background-color: white;
		z-index:1;
	}

   
}

@media only screen and (min-width: 25rem) and (max-width: 40rem)  {

    body{
        height: 100%;
    }

	h1,label, #submit-button{
		z-index: 0;
		font-size: 1rem;
		font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
		width: 245px;
		
	}

    h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-weight:normal;
    }

    #contact-form{
        margin-top: -20px;
        margin-left:20px;
        margin-right: 20px;
    }

    .box{
      margin-top: 20px;  
    }

    #fname, #email,#message{
        width: 47%;
        height:30px;
        border-radius: 4px;
        border-width: 2px;
		border-color: #DDD;
    }

    #email,#em{
        position: relative;
        top: -93px;
        left: 53%;
    }

	#message,#mes
    {
        width: 100%;
        height:80px;
        position: relative;
        top: -93px;
    }

	#submit-button{
		background-color: #6495ed;
		width: 252px;
		height: 40px;
		color: white;
		margin-top: 30px;
        margin-right: 20px;
        width: 20%;
		border: none;
		border-radius: 4px;
        font-weight: bold;

        position: relative;
        top: -93px;
	}
	
	
	#middle_box{
		margin-top:70px;
		margin-left: 20px;
        margin-right: 20px;

		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
        height: 90vh;
        
		background-color: #F5F5F5;
		z-index:-1;
	}
	#small_box{
        position: relative;
		top:-50px;
		left: 20px;
		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
		width: 300px;
		height:100px;
		background-color: white;
		z-index:1;
	}

   
}

@media only screen and (min-width: 40rem) and (max-width: 50rem)  {

    body{
        height: 100%;
    }

	h1,label, #submit-button{
		z-index: 0;
		font-size: 1rem;
		font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
		width: 245px;
		
	}

    h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-weight:normal;
    }

    #contact-form{
        margin-top: -20px;
        margin-left:20px;
        margin-right: 20px;
    }

    .box{
      margin-top: 20px;  
    }

    #fname, #email,#message{
        width: 47%;
        height:30px;
        border-radius: 4px;
        border-width: 2px;
		border-color: #DDD;
    }

    #email,#em{
        position: relative;
        top: -93px;
        left: 53%;
    }

	#message,#mes
    {
        width: 100%;
        height:80px;
        position: relative;
        top: -93px;
    }

	#submit-button{
		background-color: #6495ed;
		width: 252px;
		height: 40px;
		color: white;
		margin-top: 30px;
        margin-right: 20px;
        width: 20%;
		border: none;
		border-radius: 4px;
        font-weight: bold;

        position: relative;
        top: -93px;
	}
	
	
	#middle_box{
		margin-top:70px;
		margin-left: 20px;
        margin-right: 20px;

		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
        height: 90vh;
        
		background-color: #F5F5F5;
		z-index:-1;
	}
	#small_box{
        position: relative;
		top:-50px;
		left: 20px;
		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
		width: 300px;
		height:100px;
		background-color: white;
		z-index:1;
	}

   
}


@media only screen and (min-width: 50rem)  {

    body{
        height: 100%;
    }

	h1,label, #submit-button{
		z-index: 0;
		font-size: 1rem;
		font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
		width: 245px;
		
	}

    h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-weight:normal;
    }

    #contact-form{
        margin-top: -20px;
        margin-left:20px;
        margin-right: 20px;
    }

    .box{
      margin-top: 20px;  
    }

    #fname, #email,#message{
        width: 48%;
        height:30px;
        border-radius: 4px;
        border-width: 2px;
		border-color: #DDD;
    }

    #email,#em{
        position: relative;
        top: -93px;
        left: 52%;
    }

	#message,#mes
    {
        width: 100%;
        height:80px;
        position: relative;
        top: -93px;
    }

	#submit-button{
		background-color: #6495ed;
		width: 252px;
		height: 40px;
		color: white;
		margin-top: 30px;
        margin-right: 20px;
        width: 20%;
		border: none;
		border-radius: 4px;
        font-weight: bold;

        position: relative;
        top: -93px;
	}
	
	
	#middle_box{
		margin-top:70px;
		margin-left: 20%;
        margin-right: 20%;

		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
        height: 90vh;
        
		background-color: #F5F5F5;
		z-index:-1;
	}
	#small_box{
        position: relative;
		top:-50px;
		left: 20px;
		border-style: solid;
  		border-width: 2px;
		border-color: #DDD;
		width: 300px;
		height:100px;
		background-color: white;
		z-index:1;
	}

   
}



